%h1 Sign Up page (Work In Progress)

 %form
  = label :user, :email, "Email"
  = text_field :user, :email
  = label :user, :password
  = password_field :user, :password
  %input{:type => "submit", :value => "Sign Up"}